<% if current_user %>
  <label>
    Logged in as: <%= current_user.username %>
    <%= button_to "log out", session_url, method: :delete %>
  </label>
<% else %>
  <%= button_to "log in", new_session_url, method: :get %>
<% end %>
